//Files
@use "./styles.scss";
@use "./cover-button.scss";
@use "./image-slider.scss";
@use "./image-infinite-scroll.scss";
@use "./scrolling-text.scss";
@use "./quote.scss";
@use "./reveal.scss";
@use "./impact.scss";
@use "./statistics.scss";
//@use "./navbar.scss";

//Fonts
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);


//General styles
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: "Inter";
   color: #1b1b1b;
}

body {
   width: 100vw;
}