@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
/* Text */
.title-1 {
  font-size: 4rem;
  font-weight: 600;
}

.title-2 {
  font-size: 3rem;
  font-weight: 600;
}

.title-3 {
  font-size: 2rem;
  font-weight: 550;
}

.title-bg {
  color: #F5F5F6;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-bold {
  font-weight: 900;
}

.title-centered {
  text-align: center;
}

.title-padding {
  width: 70%;
}

.caption, .caption-alt {
  font-size: 1.1rem;
  color: #6E6E73;
}
.caption .title-bold, .caption-alt .title-bold {
  font-weight: 700;
  color: #393939;
}

.caption-alt {
  font-size: 1.2rem;
}

.font-alt {
  font-family: "JetBrains Mono";
  color: #595959;
  font-size: 1.1rem;
  align-self: center;
}

/* Buttons */
.button-alt {
  border: 0;
  cursor: pointer;
}

/* Sections */
.section-cover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-cover .section-cover-group {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-padding {
  padding: 2rem 7rem;
  height: 120vh;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.first-competition {
  height: fit-content;
}

.section-important-bg {
  background-color: #FFCC00;
}

.section-alt-bg {
  background-color: #F5F5F6;
}

.section-third-bg {
  background: linear-gradient(to bottom, #F5F5F6, #fff);
}

.section-centered {
  align-items: center;
}

.margin-top {
  margin-top: 3rem;
}

.padding-top {
  padding-top: 6rem;
}

.padding-top-alt {
  padding-top: 2rem;
}

.divisor {
  height: 8rem;
  background-color: #1c1c1c;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}
.divisor h2 {
  color: #F5F5F6;
}

/* Images */
.img-w-caption {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-w-caption .img-w-caption-text {
  height: 11rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-w-caption-reverse {
  flex-direction: row-reverse;
}

.img-1 {
  height: 23rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 50px 0px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.cover-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #1b1b1b;
  box-shadow: 0 0 0 2px #1b1b1b;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button svg {
  position: absolute;
  width: 24px;
  fill: #1b1b1b;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button .cover-button-arr-1 {
  right: 16px;
}

.cover-button .cover-button-arr-2 {
  left: -25%;
}

.cover-button .cover-button-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #1b1b1b;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button .cover-button-text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.cover-button:hover .cover-button-arr-1 {
  right: -25%;
}

.cover-button:hover .cover-button-arr-2 {
  left: 16px;
}

.cover-button:hover .cover-button-text {
  transform: translateX(12px);
  color: #ededed;
}

.cover-button:hover svg {
  fill: #ededed;
}

.cover-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #1b1b1b;
}

.cover-button:hover .cover-button-circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* Slider container */
.image-slider {
  height: 80%;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

/* Images in the slider */
.image-slider-slides {
  display: flex;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.image-slider-slides img {
  width: 100%;
  align-self: flex-start;
}

/* Navigation buttons */
.image-slider-prev,
.image-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5019607843);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.image-slider-prev {
  left: 0;
}

.image-slider-next {
  right: 0;
}

.infinite-image-slider-section {
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.infinite-image-slider {
  background: #fff;
  height: 6.25rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.infinite-image-slider::before, .infinite-image-slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 6.25rem;
  position: absolute;
  width: 12.5rem;
  z-index: 2;
}
.infinite-image-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.infinite-image-slider::before {
  left: 0;
  top: 0;
}
.infinite-image-slider .infinite-image-slider-slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.infinite-image-slider .infinite-image-slider-slide {
  height: 6.25rem;
  width: 250px;
}

.side-scrolling-text-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.side-scrolling-text {
  display: inline-block;
  white-space: nowrap;
  color: #595959;
  font-size: 1.5rem;
  animation: scroll-horizontal 16s linear infinite;
  font-family: "JetBrains Mono";
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.quote {
  display: flex;
  justify-content: space-evenly;
}
.quote .quote-text {
  height: 100%;
  width: 55%;
}
.quote .quote-text .quote-sign {
  font-size: 10rem;
  font-weight: 100;
  width: fit-content;
  margin-bottom: 2rem;
}
.quote .quote-text .quote-quote {
  font-size: 2rem;
  font-weight: 400;
}
.quote .quote-speaker {
  height: 100%;
  width: 30%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.quote .quote-speaker .quote-image {
  height: 3rem;
  margin-bottom: 1.5rem;
}
.quote .quote-speaker .quote-person {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.quote .quote-speaker .quote-person .quote-person-text {
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote .quote-speaker .quote-person .quote-person-image {
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5rem;
  background-color: #FFCC00;
  transition: width 1.8s ease;
}

.underline-effect-alt::after {
  height: 0.4rem;
  background-color: rgba(255, 204, 0, 0.6274509804);
}

.underline-effect.active::after {
  width: 100%;
}

/* Main "Our Impact" section */
.our-impact {
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
}
.our-impact p {
  align-self: center;
}

/* Grid layout: 2 rows, 2 columns */
.impact-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
  z-index: 2;
}

/* Individual grid items with background image */
.impact-item {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.impact-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 204, 0, 0.4588235294);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.impact-item:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.impact-item:hover:before {
  opacity: 1;
}

.impact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease, background-image 0.5s ease;
  cursor: pointer;
}

.impact-overlay h1,
.impact-overlay p {
  pointer-events: none;
}

.impact-overlay.active {
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: #1b1b1b;
}

body {
  width: 100vw;
}

/*# sourceMappingURL=general.css.map */
