@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic);
/* Text */
.title-1 {
  font-size: 4rem;
  font-weight: 600;
}

.title-1-2 {
  font-size: 3.5rem;
  font-weight: 600;
}

.title-2 {
  font-size: 3rem;
  font-weight: 600;
}

.title-2-2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.title-2-3 {
  font-size: 2.25rem;
  font-weight: 600;
}

.title-3 {
  font-size: 2rem;
  font-weight: 550;
}

.title-bg {
  color: #F5F5F6;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-bold {
  font-weight: 900;
}

.title-centered {
  text-align: center;
  align-self: center;
}

.title-padding {
  width: 70%;
}

.title-font-alt {
  font-family: "JetBrains Mono";
}

.caption, .caption-alt {
  font-size: 1.1rem;
  color: #6E6E73;
}
.caption .title-bold, .caption-alt .title-bold {
  font-weight: 700;
  color: #393939;
}

.caption-alt {
  font-size: 1.2rem;
}

.font-alt {
  font-family: "JetBrains Mono";
  color: #595959;
  font-size: 1.1rem;
  align-self: center;
}

/* Buttons */
.button-alt {
  border: 0;
  cursor: pointer;
}

/* Sections */
.section-cover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-cover .section-cover-group {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-padding {
  padding: 2rem 7rem;
  height: 120vh;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.first-competition {
  height: fit-content;
}

.section-important-bg {
  background-color: #FFCC00;
}

.section-alt-bg {
  background-color: #F5F5F6;
}

.section-third-bg {
  background: linear-gradient(to bottom, #F5F5F6, #fff);
}

.section-centered {
  align-items: center;
}

.margin-top {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 7rem;
}

.padding-top {
  padding-top: 6rem;
}

.padding-top-alt {
  padding-top: 2rem;
}

.divisor {
  height: 8rem;
  background-color: #1c1c1c;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}
.divisor h2 {
  color: #F5F5F6;
}

/* Images */
.img-w-caption {
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img-w-caption .img-w-caption-text {
  height: 11rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-w-caption-reverse {
  flex-direction: row-reverse;
}

.img-1 {
  height: 23rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 50px 0px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (max-width: 400px) {
  * {
    transform: scale(0.8);
  }
}
@media (max-width: 768px) {
  .section-padding {
    padding: 1rem;
  }
  .image-slider .image-slider-slides img {
    width: 100%;
    height: auto;
  }
  .impact-section {
    display: flex;
    flex-direction: column;
  }
  .impact-section .impact-item {
    margin-bottom: 2rem;
  }
  .impact-section .impact-item .impact-background-image {
    background-size: cover;
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stats .stats-number {
    margin-bottom: 2rem;
  }
  .join-now-section .join-form-section form {
    flex-direction: column;
  }
  footer .footer-columns {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section-padding {
    padding: 2rem;
  }
  .impact-section {
    display: flex;
    flex-direction: column;
  }
  .impact-section .impact-item {
    margin-bottom: 3rem;
  }
}
.cover-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #1b1b1b;
  box-shadow: 0 0 0 2px #1b1b1b;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button svg {
  position: absolute;
  width: 24px;
  fill: #1b1b1b;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button .cover-button-arr-1 {
  right: 16px;
}

.cover-button .cover-button-arr-2 {
  left: -25%;
}

.cover-button .cover-button-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #1b1b1b;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button .cover-button-text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cover-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.cover-button:hover .cover-button-arr-1 {
  right: -25%;
}

.cover-button:hover .cover-button-arr-2 {
  left: 16px;
}

.cover-button:hover .cover-button-text {
  transform: translateX(12px);
  color: #ededed;
}

.cover-button:hover svg {
  fill: #ededed;
}

.cover-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #1b1b1b;
}

.cover-button:hover .cover-button-circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* Slider container */
.image-slider {
  height: 80%;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}

/* Images in the slider */
.image-slider-slides {
  display: flex;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.image-slider-slides img {
  width: 100%;
  align-self: flex-start;
}

/* Navigation buttons */
.image-slider-prev,
.image-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5019607843);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.image-slider-prev {
  left: 0;
}

.image-slider-next {
  right: 0;
}

.infinite-image-slider-section {
  height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.infinite-image-slider {
  background: #fff;
  height: 6.25rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.infinite-image-slider::before, .infinite-image-slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 6.25rem;
  position: absolute;
  width: 12.5rem;
  z-index: 2;
}
.infinite-image-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.infinite-image-slider::before {
  left: 0;
  top: 0;
}
.infinite-image-slider .infinite-image-slider-slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.infinite-image-slider .infinite-image-slider-slide {
  height: 6.25rem;
  width: 250px;
}

.side-scrolling-text-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.side-scrolling-text {
  display: inline-block;
  white-space: nowrap;
  color: #595959;
  font-size: 1.5rem;
  animation: scroll-horizontal 16s linear infinite;
  font-family: "JetBrains Mono";
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.quote {
  display: flex;
  justify-content: space-evenly;
}
.quote .quote-text {
  height: 100%;
  width: 55%;
}
.quote .quote-text .quote-sign {
  font-size: 10rem;
  font-weight: 100;
  width: fit-content;
  margin-bottom: 2rem;
}
.quote .quote-text .quote-quote {
  font-size: 2rem;
  font-weight: 400;
}
.quote .quote-speaker {
  height: 100%;
  width: 30%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.quote .quote-speaker .quote-image {
  height: 3rem;
  margin-bottom: 1.5rem;
}
.quote .quote-speaker .quote-person {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.quote .quote-speaker .quote-person .quote-person-text {
  width: fit-content;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote .quote-speaker .quote-person .quote-person-image {
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.underline-effect {
  position: relative;
  text-decoration: none;
}

.underline-effect::after, .underline-effect-alt::after, .underline-effect-dark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5rem;
  transition: width 1.8s ease;
}

.underline-effect::after {
  background-color: #FFCC00;
}

.underline-effect-alt::after {
  height: 0.4rem;
  background-color: rgba(255, 204, 0, 0.6274509804);
}

.underline-effect-dark::after, .underline-effect-dark-alt::after {
  background-color: #1b1b1b !important;
}

.underline-effect-dark-alt::after {
  height: 0.3rem;
}

.underline-effect.active::after {
  width: 100%;
}

/* Main "Our Impact" section */
.our-impact {
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  min-height: 110vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.our-impact p {
  align-self: center;
}

.impact-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Impact Item Styling */
.impact-item {
  position: relative;
  background-color: #fbfbfb;
  border-radius: 1rem;
  height: 20rem;
  padding: 3rem 5rem;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* Background image for hover effect */
  /* Replacement images */
  /* Display replacement images when hovered */
  /* Display image when hovered */
  /* Fade out content when hovered */
}
.impact-item .caption {
  color: #383838;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}
.impact-item .impact-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  /* Place it behind the item */
}
.impact-item .impact-replacement-images {
  display: none;
  /* Initially hidden */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* Place it above the background image */
}
.impact-item:hover .impact-replacement-images {
  display: flex;
  /* Show the replacement images */
}
.impact-item:hover .impact-background-image {
  opacity: 1;
}
.impact-item:hover .impact-icon-container, .impact-item:hover .title-3, .impact-item:hover .caption {
  opacity: 0;
}
.impact-item .impact-icon-container {
  transition: opacity 0.3s ease;
}

.impact-4them {
  border: solid 3px #FFB400;
}
.impact-4them .impact-background-image {
  background-image: url(".jpg");
}
.impact-4them .impact-icon-container i {
  color: #FFB400;
}

.impact-4them:hover {
  background-color: #FFB400;
}

.impact-4her {
  border: solid 3px #FF616D;
}
.impact-4her .impact-background-image {
  background-image: url(".jpg");
}
.impact-4her .impact-icon-container i {
  color: #FF616D;
}

.impact-4her:hover {
  background-color: #FF616D;
}

.impact-4all {
  border: solid 3px #5BC0EB;
}
.impact-4all .impact-background-image {
  background-image: url(".jpg");
}
.impact-4all .impact-icon-container i {
  color: #5BC0EB;
}

.impact-4all:hover {
  background-color: #5BC0EB;
}

.impact-4us {
  border: solid 3px #9BC53D;
}
.impact-4us .impact-background-image {
  background-image: url(".jpg");
}
.impact-4us .impact-icon-container i {
  color: #9BC53D;
}

.impact-4us:hover {
  background-color: #9BC53D;
}

/* Hover Effect */
.impact-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Icon container */
.impact-icon-container {
  height: 5rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.impact-icon-container i {
  color: #1b1b1b;
  font-size: 2rem;
}

/* Styles for replacement images */
.replacement-image {
  width: 30%;
  aspect-ratio: 9/9;
  object-fit: cover;
  border: solid #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.impact-item:hover .replacement-image {
  opacity: 1;
  /* Fade in replacement images */
}

.stats {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.stats .stats-number {
  border: 0.25rem dashed #1b1b1b;
  height: calc(fit-content + 2rem);
  padding: 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.stats .stats-number .caption {
  width: 50%;
}
.stats .stats-number:not(:nth-of-type(1)) {
  border-top: none;
}

.join-now-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo-vector {
  position: absolute;
  height: 200vh;
  opacity: 0.05;
}

.logo-vector-cover {
  position: absolute;
  height: 220vh;
  opacity: 0.05;
}

.join-form-section {
  display: grid;
  place-items: center;
  height: 55%;
  width: 100%;
}

.join-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: fit-content;
  max-width: 22rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.join-form .join-form-flex {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.join-form label {
  position: relative;
}
.join-form label .form-input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.3960784314);
  border-radius: 5px;
}
.join-form label .form-input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #808080;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.join-form label .form-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.message {
  color: rgba(88, 87, 87, 0.8235294118);
  font-size: 14px;
}

.join-form label .form-input:focus + span,
.join-form label .form-input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.join-form label .form-input:valid + span {
  color: #008000;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.3960784314);
  border-radius: 5px;
}

.join-form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #808080;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.join-form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.join-form label .input01:focus + span,
.join-form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.join-form label .input01:valid + span {
  color: #008000;
}

.form-fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.form-fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5rem;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.form-fancy .text {
  font-size: 1.125rem;
  line-height: 1.33333rem;
  padding-left: 2rem;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.form-fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.form-fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.form-fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.form-fancy:hover {
  color: #fff;
  background: #7c7c7c;
}

.form-fancy:hover::before {
  width: 1.5rem;
  background: #fff;
}

.form-fancy:hover .text {
  color: #fff;
  padding-left: 1.5em;
}

.form-fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.form-fancy:hover .bottom-key-1,
.form-fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.footer {
  height: fit-content;
  min-height: 90vh;
  background-color: #1b1b1b;
  color: #F5F5F6;
  padding: 3rem;
}
.footer h2, .footer h3 {
  width: fit-content;
  text-align: center;
  color: #F5F5F6;
}

.footer-container {
  height: 70vh;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "footer-logo footer-columns";
  justify-content: center;
  align-content: center;
  gap: 5rem;
}

.footer-logo {
  text-align: center;
  margin-bottom: 40px;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: footer-logo;
}

.social-icons {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.social-icons a i {
  margin: 0 10px;
  color: rgba(245, 245, 246, 0.5098039216);
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0 5rem;
  grid-area: footer-columns;
}

.footer-column h3 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-columns {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .footer-columns {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-column {
    margin-bottom: 40px;
  }
}
.footer-credit {
  z-index: 5;
  position: absolute;
  right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-credit p, .footer-credit a {
  color: rgba(245, 245, 246, 0.5098039216);
}
.footer-credit a:hover {
  text-decoration: underline;
}
.footer-credit img {
  height: 4rem;
  filter: brightness(5);
}
.footer-credit .non-important-footer-info {
  color: rgba(245, 245, 246, 0.3058823529);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  color: #1b1b1b;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=general.css.map */
