/* Main "Our Impact" section */
.our-impact {
   //border: solid red;
   padding-bottom: 1rem;
   position: relative;
   width: 100%;
   min-height: 110vh;
   height: fit-content;

   display: flex;
   flex-direction: column;

   p {
      align-self: center;
   }
}

.impact-section {
   //border: solid lime;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 40px;
   max-width: 1200px;
   margin: 0 auto;
}

/* Impact Item Styling */
.impact-item {
   position: relative;
   background-color: #fbfbfb;
   border-radius: 1rem;
   height: 20rem;
   padding: 3rem 5rem;
   text-align: center;
   transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
   overflow: hidden;
   cursor: pointer;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

   .caption {
      color: #383838;
      font-size: 1rem;
      transition: opacity 0.3s ease;
   }

   /* Background image for hover effect */
   .impact-background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
      /* Place it behind the item */
   }

   /* Replacement images */
   .impact-replacement-images {
      display: none;
      /* Initially hidden */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      z-index: 1;
      /* Place it above the background image */
   }

   /* Display replacement images when hovered */
   &:hover .impact-replacement-images {
      display: flex;
      /* Show the replacement images */
   }

   /* Display image when hovered */
   &:hover .impact-background-image {
      opacity: 1;
   }

   /* Fade out content when hovered */
   &:hover .impact-icon-container,
   &:hover .title-3,
   &:hover .caption {
      opacity: 0;
      /* Fade out content */
   }

   .impact-icon-container {
      transition: opacity 0.3s ease;
   }
}

/* Add multi-colored background per item */
.impact-4them {
   //background-color: #FFB400;
   
   border: solid 3px #FFB400;

   .impact-background-image {
      background-image: url('.jpg');
   }

   .impact-icon-container {
      i {
         color: #FFB400;
      }
   }
}

.impact-4them:hover {
   background-color: #FFB400;
}

.impact-4her {
   //background-color: #FF616D;
   border: solid 3px #FF616D;

   .impact-background-image {
      background-image: url('.jpg');
   }

   .impact-icon-container {
      i {
         color: #FF616D;
      }
   }
}

.impact-4her:hover {
   background-color: #FF616D;
}

.impact-4all {
   //background-color: #5BC0EB;
   border: solid 3px #5BC0EB;

   .impact-background-image {
      background-image: url('.jpg');
   }

   .impact-icon-container {
      i {
         color: #5BC0EB;
      }
   }
}

.impact-4all:hover {
   background-color: #5BC0EB;
}

.impact-4us {
   //background-color: #9BC53D;
   border: solid 3px #9BC53D;

   .impact-background-image {
      background-image: url('.jpg');
   }

   .impact-icon-container {
      i {
         color: #9BC53D;
      }
   }
}

.impact-4us:hover {
   background-color: #9BC53D;
}

/* Hover Effect */
.impact-item:hover {
   transform: translateY(-10px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* Icon container */
.impact-icon-container {
   height: 5rem;
   width: 5rem;
   background-color: #fff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

   i {
      color: #1b1b1b;
      font-size: 2rem;
   }
}

/* Styles for replacement images */
.replacement-image {
   width: 30%;
   aspect-ratio: 9 / 9;
   object-fit: cover;
   border: solid #fff;
   
   opacity: 0;
   transition: opacity 0.3s ease;
}

.impact-item:hover .replacement-image {
   opacity: 1;
   /* Fade in replacement images */
}