/* Main "Our Impact" section */
.our-impact {
   padding: 2rem 0 1rem 0;
   margin: 3rem 0;
   position: relative;
   width: 100%;
   height: 110vh;

   display: flex;
   flex-direction: column;

   p {
      align-self: center;
   }
}

/* Grid layout: 2 rows, 2 columns */
.impact-grid {
   margin-top: 3rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 20px;
   height: 100%;
   z-index: 2;
   //Grid items above the overlay
}

/* Individual grid items with background image */
.impact-item {
   background-size: cover;
   background-position: center;
   color: white;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: transform 0.3s ease, background-color 0.3s ease;
   position: relative;
   overflow: hidden;
}

.impact-item h3 {
   font-size: 1.5rem;
   z-index: 1;
}

.impact-item:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #ffcc0075;
   opacity: 0;
   transition: opacity 0.3s ease;
   z-index: 0;
}

//Hover effect: grow and apply yellow overlay 
.impact-item:hover {
   transform: scale(1.05);
}

.impact-item:hover:before {
   opacity: 1;
}

//Overlay

.impact-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
   z-index: 1;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.8s ease, background-image 0.5s ease;
   cursor: pointer;
}

.impact-overlay h1,
.impact-overlay p {
   pointer-events: none;
}

.impact-overlay.active {
   opacity: 1;
   z-index: 3;
   pointer-events: auto;
}