.quote {
   display: flex;
   justify-content: space-evenly;

   .quote-text {
      height: 100%;
      width: 55%;

      .quote-sign {
         font-size: 10rem;
         font-weight: 100;

         width: fit-content;
         margin-bottom: 2rem;
      }

      .quote-quote {
         font-size: 2rem;
         font-weight: 400;
      }
   }

   .quote-speaker {
      height: 100%;
      width: 30%;
      padding-right: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;


      .quote-image {
         height: 3rem;
         margin-bottom: 1.5rem;
      }

      .quote-person {
         width: 70%;
         display: flex;
         justify-content: flex-start;

         .quote-person-text {
            width: fit-content;
            font-size: 1rem;
            font-weight: 400;

            display: flex;
            flex-direction: column;
            justify-content: center;
         }

         .quote-person-image {
            height: 3rem;
            border-radius: 50%;
            margin-right: 0.5rem;
         }
      }
   }
}