.side-scrolling-text-container {
   width: 100%;
   overflow: hidden;
   padding: 10px 0;

   position: absolute;
   left: 0;
   bottom: 0
}

.side-scrolling-text {
   border: solid red;
   display: inline-block;
   white-space: nowrap;
   color: #595959;
   font-size: 1.5rem;
   animation: scroll-horizontal 16s linear infinite;

   font-family: "JetBrains Mono";
}

@keyframes scroll-horizontal {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-250px*7);
   }
}