.stats {
   height: 80%;
   width: 100%;
   
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   
   .stats-number {
      border: 0.25rem dashed #1b1b1b;
      height: calc(fit-content + 2rem);
      padding: 4rem 0;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .caption {
         width: 50%;
      }
   }

   .stats-number:not(:nth-of-type(1)) {
      border-top: none;
   }
}