
/* Text */
.title-1 {
   font-size: 4rem;
   font-weight: 600;
}

.title-2 {
   font-size: 3rem;
   font-weight: 600;
}

.title-bold {
   font-weight: 900;
}

.title-centered {
   text-align: center;
}

.title-padding {
   width: 70%;
}

.caption {
   font-size: 1.1rem;
   color: #6E6E73;
   
   .title-bold {
      font-weight: 700;
      color: #393939;
   }
}

/* Buttons */
.button-alt {
   border: 0;
   cursor: pointer;
}

/* Sections */
.section-cover {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   .section-cover-group {
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
   }
}

.section-padding {
   padding: 2rem 7rem;
   height: 120vh;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

.section-important-bg {
   background-color: #FFCC00;
}

.section-alt-bg {
   background-color: #F5F5F6
}

.section-centered {
   align-items: center;
}

.divisor {
   height: 8rem;
   background-color: #1c1c1c;
   margin-bottom: 1rem;
   
   display: grid;
   place-items: center;
}

.divisor h2 {
   color: #F5F5F6;
}

/* Images */
.img-1 {
   height: 43rem;
   border-radius: 2rem;

   aspect-ratio: 16 / 9;
   object-fit: fill;
}