
/* Text */
.title-1 {
   font-size: 4rem;
   font-weight: 600;
}

.title-1-2 {
   font-size: 3.5rem;
   font-weight: 600;
}

.title-2 {
   font-size: 3rem;
   font-weight: 600;
}

.title-2-2 {
   font-size: 2.5rem;
   font-weight: 600;
}

.title-2-3 {
   font-size: 2.25rem;
   font-weight: 600;
}

.title-3 {
   font-size: 2rem;
   font-weight: 550;
}

.title-bg {
   color: #F5F5F6;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-bold {
   font-weight: 900;
}

.title-centered {
   text-align: center;
   align-self: center;
}

.title-padding {
   width: 70%;
}

.title-font-alt {
   font-family: "JetBrains Mono";
}

.caption, .caption-alt {
   font-size: 1.1rem;
   color: #6E6E73;
   
   .title-bold {
      font-weight: 700;
      color: #393939;
   }
}

.caption-alt {
   font-size: 1.2rem;
}

.font-alt {
   font-family: "JetBrains Mono";
   color: #595959;
   font-size: 1.1rem;
   align-self: center;
}

/* Buttons */
.button-alt {
   border: 0;
   cursor: pointer;
}

/* Sections */
.section-cover {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

   .section-cover-group {
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
   }
}

.section-padding {
   //border: solid orange;
   padding: 2rem 7rem;
   height: 120vh;
   min-height: 120vh;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

.first-competition {
   height: fit-content;
}

.section-important-bg {
   background-color: #FFCC00;
}

.section-alt-bg {
   background-color: #F5F5F6
}

.section-third-bg {
   background: linear-gradient(to bottom, #F5F5F6, #fff);
}

.section-centered {
   align-items: center;
}

.margin-top {
   margin-top: 3rem;
}

.margin-bottom {
   margin-bottom: 7rem;
}

.padding-top {
   padding-top: 6rem;
}

.padding-top-alt {
   padding-top: 2rem;
}

.divisor {
   height: 8rem;
   background-color: #1c1c1c;
   margin-bottom: 1rem;
   
   display: grid;
   place-items: center;

   h2 {
      color: #F5F5F6;
   }
}

/* Images */
.img-w-caption {
   //border: solid red;
   height: 35rem;
   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .img-w-caption-text {
      //border: solid plum;
      height: 11rem;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.img-w-caption-reverse {
   flex-direction: row-reverse;
}

.img-1 {
   height: 23rem;
   //height: 50%;
   //border-radius: 2rem;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 50px 0px;

   aspect-ratio: 16 / 9;
   object-fit: cover;
}